[Desktop Entry]
Name=Monokular
Comment=Export PDF pages as images
Exec=monokular %f
Icon=monokular
Terminal=false
StartupNotify=true
StartupWMClass=monokular
Type=Application
Categories=Utility;Graphics;
MimeType=application/pdf;
